@import url(./assets/css/home.css);
@import url(./assets/css/font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.connect-btn{
  background: #00FF4E4D 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 10px #00FF4E80;
border: 1px solid #00FF4E;
opacity: 1;
}

.nav-link{
box-shadow: 0px 0px 10px #00FF4E80;
border: 1px solid #00FF4E;
opacity: 1;
}

.logoAnim {
  animation: coinFlip 4s infinite ease-in-out;
}

@keyframes coinFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

svg .nav-wallet-connect:hover{
  fill:#00FF4E;
}